extends layout

block content
	form.text-center(action="", method="post")
		.form-group
			label Show Name
			input.form-control(type='text', placeholder='Name of the show', name="name")
		.form-group
			label Fetch URL
			input.form-control(type='text', placeholder='URL to pull data from (get from next-episode.com)', name="fetch_url")
		.form-group
			label Download URL
			input.form-control(type='text', placeholder='URL to go when new episode available (your fav. torrent site)', name="dl_url")
		button.btn.btn-default(type='submit') Add Show