extends layout

block content
	form.text-center(action="", method="post")
		.form-group
			label Show Name
			input.form-control(type='text', placeholder='Name of the show', name="name")
		.form-group
			label Fetch URL
			p.help-blockExample get this url from 
				a(href="http://next-episode.net", target="_blank") next-episode 
				|  website
			input.form-control(type='text', placeholder='Search show name on next-episode website and enter that url here', name="fetch_url")
		.form-group
			label Download URL
			input.form-control(type='text', placeholder='URL to go when new episode available (your preffered site to watch/Download the episode)', name="dl_url")
		button.btn.btn-default(type='submit') Add Show