extends layout

block content
	#msg
	if msg
		.alert.alert-danger(role="alert") #{msg}

	#show_list
	if show_list.length
		h1.text-center All updates on your shows
		each show in show_list
			#show.up_to_date
				if show.up_to_date
					.row.box.old
						include block
				else
					.row.box.new
						include block
	else
		.text-center
			h2.text-danger No show added to your watch list yet
			p add your favourite shows to track their progress
			a.btn.btn-warning(href="/add") Add show

block scripts
	script(src="/javascripts/action.js")

